html {
  background: url(img/notebook.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Francois One', sans-serif;
}

section {
  width: 70%;
  background-color: rgba(128,128,128,0.9);
  margin: 0 auto;
  padding-bottom: 10px;
}

header {
  margin-top: 50px;
  padding-top: 10px;
}

#submitButton {
  border-radius: 0px;
  -webkit-appearance: none;
}

h1 {
  text-align: center;
  color: white;
}

.employee-form {
  width: 480px;
  margin: 0 auto;
  margin-bottom: 25px;
}

label {
  margin: 5px;
  color: white;
  font-weight: bold;
}

input {
  background: none;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Francois One', sans-serif;
}

input:focus {
  background-color: #fff;
  color: black;
  outline: none;
}

input:active {
  outline: none;
}

input[type=text], input[type=number] {
  width: 85%;
  border: none;
  border-bottom: solid 2px black;
  font-family: 'Poiret One', cursive;
}



input[type=submit] {
  margin-top: 5px;
  width: 98%;
  padding: 14px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-style: solid;
  /*-webkit-appearance: none;*/
}

h3 {
  text-align: center;
  color: white;
}

.employee {
  display: none;
}

h2 {
  text-align: center;
  color: white;
}

table {
  margin: 0 auto;
  border: 1px solid black;
  background-color: rgba(255,255,255, 0.7);
}

td {
  text-align: center;
}

#employeeListTable tr:first-child th {
  border-bottom: solid 1px black;
}

.delete {
  padding: 5px 7px;
  background-color: black;
  color: white;
  border-style: solid;
}
